/* Global Settings */
/* border box fix */
html {
    box-sizing: border-box;
    background: #073642;
    color: #839496;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    min-height: 100Vh;
}

header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.logo {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.logo-icon {
    padding: 6px;
}

.icon-image {
    width: 120px;
}

.title {
    flex: 3;
}

main {
    flex: 1;
    padding: 10px;
}

.dashboard {
    display: flex;

    flex-direction: row;
    align-items: center;
}

.dashboard-left {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.dashboard-right {
    flex: 2;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
}

.time-title {
    flex: 1;
    text-align: center;
}

.elapsed-time {
    flex: 2;
    padding: 10px;
}
.game-card {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    margin: 10px;
}

.game-cell {
    width: 20%; 
    padding: 0;
    margin: 0;
    border: 1px solid green;
 }

.game-data {
    width: 80%; 
    margin: 6Vh auto;
    text-align: center;
}

.blank-cell {
    background: linear-gradient(#002B36 70%, #073642 0);
    background-size: 100% 7px;
}

footer {
    font-size: 0.75rem;
    padding: 10px 0;
    border: 1px solid yellow;
}

a {
    color: #2aa198;
}

em {
    color: #859900;
}

h1, h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
    margin-top: 0;
}

header h1,
header h2 {
    color: #93a1a1;;
    margin: 0;
}

button {
    padding: 5px;
    font-size: 1.5rem;
    margin: 5px;
    background: #002B36;
    border-color: green;
    color: green;
}


.darkest {
    background: #002B36;
    color: #657b83;
}

.dark {
    background: #073642;
    color: #839496;
}

.light {
    background: #eee8d5;
    color: #839496;
    
}

.lightest {
    background: #fdf6e3;
    color: #657b83;
}
