/* Global Settings */
/* border box fix */
html {
    box-sizing: border-box;
    background: #073642;
    color: #839496;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    display: flex;
    flex-flow: column;
    min-height: 100Vh;
}

a {
    color: #2aa198;
}

a:hover {
    text-decoration: none;
}

em {
    color: #859900;
}

h1, h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
    margin-top: 0;
}

h3 {
    font-size: 1.5rem;
    margin-top: 0;
}

button {
    padding: 5px;
    font-size: 1.5rem;
    margin: 5px;
    background: #002B36;
    border-color: green;
    color: green;
}

header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.logo {
    width: 10Vw;
    margin: auto;
    align-content: center;
}

.logo-icon {
    width: 150px;
    margin: auto;
    padding: 6px;
}

.icon-image {
    width: 120px;
}

.title {
    width: 75Vw;
}

header h1,
header h2 {
    color: #93a1a1;;
    margin: 0;
}


footer {
    font-size: 0.75rem;
    padding: 10px 0;
}

.center {
    margin: auto;
    width: 50vw;
    padding: 10px;
}



.darkest {
    background: #002B36;
    color: #657b83;
}

.dark {
    background: #073642;
    color: #839496;
}

.light {
    background: #eee8d5;
    color: #839496;
    
}

.lightest {
    background: #fdf6e3;
    color: #657b83;
}

.content {
    max-width: 95Vw;
    margin: 0 auto;
    overflow: hidden;
    padding: 5px;
    flex: 1;
}

.dashboard {
    width: 90vw;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dashboard-left {
    width: 40Vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-between;
}

.dashboard-right {
    width: 50Vw;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: flex-end;
    font-size: 2rem;
}

.game-card {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    margin: 10px;
}

.game-cell {
    width: 20%; 
    padding: 0;
    margin: 0;
    border: 1px solid green;
 }

.game-data {
    width: 80%; 
    margin: 6Vh auto;
    text-align: center;
}

.blank-cell {
    background: linear-gradient(#002B36 70%, #073642 0);
    background-size: 100% 7px;
}

